<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myFirstProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1EC7FE312BC552B6009ACFD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC7FE412BC552B7009ACFD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC7FE4B2BC552B7009ACFD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
